<footer>
    <div class="footer-content">
        <p>© 2025 Catobyte. All rights reserved.</p>
        <p>Contact: {{CONTACT_EMAIL}}</p>
        
        <ul class="footer-links">
            <li><a href="../../pages/en/about.html">About Me</a></li>
            <li><a href="../../pages/en/archive.html">Blog Archive</a></li>
            <li><a href="../../pages/en/privacy_policy.html">Privacy Policy</a></li>
            <li><a href="../../pages/en/terms_of_service.html">Terms of Service</a></li>
            <li><a href="../../pages/en/contact.html">Contact</a></li>
        </ul>
    </div>
</footer>
