<nav>
    <ul class="navbar">
        <li><a href="../../pages/en/home.html">Home</a></li>
        <li><a href="../../pages/en/about.html">About</a></li>
        <li><a href="../../pages/en/services.html">Services</a></li>
        <li><a href="../../pages/en/contact.html">Contact</a></li>
        <li><a href="../../pages/en/archive.html">Blog Archive</a></li>
        <li class="dropdown">
            <a href="#">Language</a>
            <ul class="dropdown-menu">
                <li><a href="../../pages/es/home.html">Español</a></li>
                <li><a href="../../pages/fr/home.html">Français</a></li>
            </ul>
        </li>
    </ul>
</nav>   