<section class="about-section">
    <h2>{{ i18n.ABOUT.WHO_AM_I_TITLE }}</h2>
    <p>{{ i18n.ABOUT.WHO_AM_I_PARAGRAPHS[0] }}</p>
    <p>{{ i18n.ABOUT.WHO_AM_I_PARAGRAPHS[1] }}</p>
  
    <h2>{{ i18n.ABOUT.WHAT_I_BELIEVE_IN_TITLE }}</h2>
    <p>{{ i18n.ABOUT.WHAT_I_BELIEVE_IN_PARAGRAPHS[0] }}</p>
    <p>{{ i18n.ABOUT.WHAT_I_BELIEVE_IN_PARAGRAPHS[1] }}</p>
  
    <h2>{{ i18n.ABOUT.MY_PASSIONS_TITLE }}</h2>
    <p>{{ i18n.ABOUT.MY_PASSIONS_INTRO }}</p>
  
    <p><strong>{{ i18n.ABOUT.MY_PASSIONS_ITEMS[0].title }}</strong>: {{ i18n.ABOUT.MY_PASSIONS_ITEMS[0].text }}</p>
    <p><strong>{{ i18n.ABOUT.MY_PASSIONS_ITEMS[1].title }}</strong>: {{ i18n.ABOUT.MY_PASSIONS_ITEMS[1].text }}</p>
    <p><strong>{{ i18n.ABOUT.MY_PASSIONS_ITEMS[2].title }}</strong>: {{ i18n.ABOUT.MY_PASSIONS_ITEMS[2].text }}</p>
  
    <h2>{{ i18n.ABOUT.WHY_THIS_MATTERS_TITLE }}</h2>
    <p>{{ i18n.ABOUT.WHY_THIS_MATTERS_PARAGRAPHS[0] }}</p>
    <p>{{ i18n.ABOUT.WHY_THIS_MATTERS_PARAGRAPHS[1] }}</p>
    <p>{{ i18n.ABOUT.WHY_THIS_MATTERS_PARAGRAPHS[2] }}  {{ i18n.ABOUT.CONNECT_TEXT }}
        <a href="../../pages/{{ i18n.LANG }}/contact.html" style="color: #e94560;">
          {{ i18n.ABOUT.CONNECT_LINK_TEXT }}
        </a>!</p> 
  </section>