<footer>
    <div class="footer-content">
      <p>© 2025 Catobyte. {{ i18n.FOOTER.ALL_RIGHTS }}</p>
      <p>{{ i18n.FOOTER.CONTACT_LABEL }} {{ CONTACT_EMAIL }}</p>
  
      <ul class="footer-links">
        <li><a href="../../pages/{{ i18n.LANG }}/about.html">{{ i18n.FOOTER.LINK_ABOUT }}</a></li>
        <li><a href="../../pages/{{ i18n.LANG}}/archive.html">{{ i18n.FOOTER.LINK_ARCHIVE }}</a></li>
        <li><a href="../../pages/{{ i18n.LANG }}/privacy_policy.html">{{ i18n.FOOTER.LINK_PRIVACY }}</a></li>
        <li><a href="../../pages/{{ i18n.LANG}}/terms_of_service.html">{{ i18n.FOOTER.LINK_TERMS }}</a></li>
        <li><a href="../../pages/{{ i18n.LANG }}/contact.html">{{ i18n.FOOTER.LINK_CONTACT }}</a></li>
      </ul>
    </div>
  </footer>
  