<footer>
    <div class="footer-content">
        <p>© 2025 Catobyte. Todos los derechos reservados.</p>
        <p>Contacto: {{CONTACT_EMAIL}}</p>

        <ul class="footer-links">
            <li><a href="../../pages/es/about.html">Acerca de mí</a></li>
            <li><a href="../../pages/es/archive.html">Archivo del blog</a></li>
            <li><a href="../../pages/es/privacy_policy.html">Política de privacidad</a></li>
            <li><a href="../../pages/es/terms_of_service.html">Condiciones del servicio</a></li>
            <li><a href="../../pages/es/contact.html">Contacto</a></li>
        </ul>
    </div>
</footer>