<nav>
    <ul class="navbar">
    <li><a href="../../pages/es/home.html">Inicio</a></li>
    <li><a href="../../pages/es/about.html">Acerca de</a></li>
    <li><a href="../../pages/es/contact.html">Contacto</a></li>
    <li><a href="../../pages/es/archive.html">Archivo del blog</a></li>
    <li class="dropdown">
        <a href="#">Idioma</a>
        <ul class="dropdown-menu">
            <li><a href="../../pages/fr/home.html">Français</a></li>
            <li><a href="../../pages/en/home.html">English</a></li>
        </ul>
    </li>
    </ul>
</nav>