<div class="container">
    <h1>Servicios</h1>
    
    <div class="service">
    
    <img src="../../images/services_big_data.svg" alt="Big Data e Ingeniería de Datos" width="256" height="256">
    
    <p>Diseño y optimizo pipelines de datos, garantizando soluciones escalables y de alto rendimiento para su negocio. Desde procesos ETL hasta arquitecturas en la nube, le ayudo a gestionar y extraer valor de sus datos.</p>
    
    </div>
    
    <div class="service">
    
    <img src="../../images/services_hugging_face.svg" alt="Desarrollo de PLN e IA" width="256" height="256">
    
    <p>Construyo y perfecciono modelos de PLN para extraer información, automatizar procesos y mejorar las interacciones de los usuarios con procesamiento inteligente del lenguaje. Aprovechando Hugging Face, el aprendizaje profundo y los modernos frameworks de PLN, doy vida a soluciones basadas en IA.</p>
    
    </div>
    
    <div class="service">
    
    <img src="../../images/services_python_logo_only.svg" alt="Desarrollo en Python" width="256" height="256">
    
    <p>Con años de experiencia en Python, escribo código limpio, eficiente y escalable para proyectos de ingeniería de datos, aprendizaje automático y automatización.</p>
    
    </div>
    
    <div class="service">
    
    <img src="../../images/services_cloud_services.svg" alt="Servicios en la nube" width="256" height="256">
    
    <p>Me especializo en servicios en la nube y te ayudo a aprovechar el poder de la nube para el almacenamiento, procesamiento y aprendizaje automático de datos. Diseño e implemento arquitecturas en la nube seguras, escalables y rentables.</p>
    <div class="service">
    
    <img src="../../images/services_content_creation.png" alt="Contenido Técnico y Blogs" width="256" height="256">
    
    <p>Como bloguero tecnológico, creo contenido atractivo y bien documentado sobre ciencia de datos, PLN e ingeniería de software, ayudando a empresas y desarrolladores a mantenerse a la vanguardia.</p>
    
    </div>
    </div>