<section class="contact-form">
    <h2>Contact</h2>
    <form action="your_form_processing_url" method="POST">
    <label for="name">Nom :</label>
    <input type="text" id="name" name="name" required>
    
    <label for="email">E-mail :</label>
    <input type="email" id="email" name="email" required>
    
    <label for="message">Message :</label>
    <textarea id="message" name="message" rows="5" required></textarea>
    
    <button type="submit">Envoyer un message</button>
    </form>
</section>