<footer>
    <div class="footer-content">
    <p>© 2024 Carlos Perez. Tous les droits réservés.</p>
     <p>Contact : {{CONTACT_EMAIL}}</p>
    
     <ul class="footer-links">
     <li><a href="../../pages/fr/about.html">Acerca de mí</a></li>
     <li><a href="../../pages/fr/archive.html">Archivo du blog</a></li>
     <li><a href="../../pages/fr/privacy_policy.html">Politique de confidentialité</a></li>
     <li><a href="../../pages/fr/terms_of_service.html">Conditions de service</a></li>
     <li><a href="../../pages/fr/contact.html">Contact</a></li>
     </ul>
     </div>
</footer>