<nav>
    <ul class="navbar">
        <li><a href="../../pages/fr/home.html">Accueil</a></li>
        <li><a href="../../pages/fr/about.html">À propos</a></li>
        <li><a href="../../pages/en/services.html">Services</a></li>
        <li><a href="../../pages/fr/contact.html">Contact</a></li>
        <li><a href="../../pages/fr/archive.html">Archives du blog</a></li>
    <li class="dropdown">
        <a href="#">Langue</a>
        <ul class="dropdown-menu">
            <li><a href="../../pages/es/home.html">Español</a></li>
            <li><a href="../../pages/en/home.html">English</a></li>
        </ul>
    </li>
    </ul>
</nav>