<div class="container">
    <h1>Services</h1>
    
    <div class="service">
    
    <img src="../../images/services_big_data.svg" alt="Big Data et ingénierie des données" width="256" height="256">
    
    <p>Je conçois et optimise des pipelines de données, garantissant des solutions de données évolutives et performantes pour votre entreprise. Des processus ETL aux architectures cloud, je vous aide à gérer et à valoriser vos données.</p>
    
    </div>
    
    <div class="service">
    
    <img src="../../images/services_hugging_face.svg" alt="Développement NLP et IA" width="256" height="256">
    
    <p>Je crée et peaufine des modèles NLP pour extraire des informations, automatiser les processus et améliorer les interactions utilisateur grâce au traitement intelligent du langage. En m'appuyant sur Hugging Face, l'apprentissage profond et les frameworks NLP modernes, je donne vie à des solutions basées sur l'IA.</p>
    
    </div>
    
    <div class="service">
    
    <img src="../../images/services_python_logo_only.svg" alt="Développement Python" width="256" height="256">
    
    <p>Fort de plusieurs années d'expérience en Python, je développe du code propre, efficace et évolutif pour des projets d'ingénierie des données, de machine learning et d'automatisation.</p>
    
    </div>
    <div class="service">
    
    <img src="../../images/services_cloud_services.svg" alt="Services Cloud"  width="256" height="256">
    
    <p>Spécialisé dans les services cloud, je vous aide à exploiter la puissance du cloud pour le stockage, le traitement et le machine learning des données. Je conçois et mets en œuvre des architectures cloud sécurisées, évolutives et rentables.</p>
    <div class="service">
    
    <img src="../../images/services_content_creation.png" alt="Contenu technique et blog" width="256" height="256">
    
    <p>En tant que blogueur technologique, je crée du contenu engageant et bien documenté sur la science des données, le traitement du langage naturel (TALN) et l'ingénierie logicielle, aidant ainsi les entreprises et les développeurs à garder une longueur d'avance.</p>
    
    </div>
    </div>